# Node.js
node_modules/

# Environment variables
.env

# macOS
.DS_Store

# Editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace
*.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
bower_components/
jspm_packages/

# Optional: Mongo data directory
/data/db

# Optional: Docker Compose file
docker-compose.yml
docker-compose.override.yml

uploads
